body{
    margin: 0;
    padding: 0;
}


/* navbar  */
.torpong{
    padding: 20px;
    display: flex;
    align-items: center;
}

ul{
    font-size: 20px;
    display: flex;
    column-gap: 10px;
}

       li{list-style: none;}
       li a {
        text-decoration: none;
        color: black;
       }
       li a::after{
            content: '';
            width: 0;
            height: 3px;
            background-color: green;
            margin: auto;
            display: block;}
        li a:hover::after{
            width: 100%;
            transition: width 0.3s linear;
        }
        li a:hover , li a.active{
            color: green;
        }
       
/* navbar  */


