body{
   margin: 0;
   padding: 0;
}


/* navbar  */
.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
}

ul{
    font-size: 20px;
    display: flex;
    column-gap: 10px;
}

       li{list-style: none;}
       li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
       }
       li a::after{
            content: '';
            width: 0;
            height: 3px;
            background-color: rgb(0, 83, 50);
            margin: auto;
            display: block;}
        li a:hover::after {
            width: 100%;
            transition: width 0.3s linear;
        }
        li a:hover , li a.active{
            color: green;
        }
       
/* navbar  */


        /* head */
      h1{
        color: green;
      }
        .container1{
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* head */


        /* section */
        section{
            padding-top: 10px;
          font-family: 'Mitr', sans-serif;
          font-size: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 200px;
        }
        /* section */
       .pic{
        width: 300px; height: 300px;
       }

        footer{
          color: white;
          background-color: green;
          height: 100px;
        }
          .text1{
            display: flex;
            justify-content: center;
          }